out/iosevka-serif-term-oblique.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-regular.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-semiboldoblique.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-semibold.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-italic.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-mediumoblique.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-medium.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-mediumitalic.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-semibolditalic.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-bolditalic.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-boldoblique.ttf filter=lfs diff=lfs merge=lfs -text
out/iosevka-serif-term-bold.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-bold.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-italic.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-mediumitalic.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-mediumoblique.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-medium.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-regular.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-semiboldoblique.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-semibold.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-bolditalic.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-boldoblique.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-oblique.ttf filter=lfs diff=lfs merge=lfs -text
norm/iosevka-serif-semibolditalic.ttf filter=lfs diff=lfs merge=lfs -text
